html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #FBFBFB;
  --card-bg-color: white;
  --title-color:  #4A4A4A;
  --subtitle-color: #8C8C8C;
  --border-color: #eaeaea;
  --hover-color: #6786D3;
  --button-text-color: #604B69;
}
