.name_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.repo_name {
    font-size: 50px;
    color: var(--title-color);
    font-weight: 700;
    margin-left: 20px;
}

.avatar {
    height: 80px;
    object-fit: cover;
    border: 1px solid var(--border-color);
    border-radius: 14px;
    background-color: white;
}

.description {
    color: var(--subtitle-color);
    font-size: 20px;
    margin: 0 0 20px 0;
}